{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Система КТГ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

    {% block css %}
    {% endblock css %}
</head>

<body>

<div class="layout">
    {% if request.user.is_authenticated %}
        <aside class="sidebar">
            <div class="logo">Система КТГ</div>
            <nav>
                <a href="{% url "fleet:dashboard" %}">Главная</a>
                {% if request.user.is_staff %}
                    <a href="{% url "admin:index" %}">Администрирование</a>
                {% endif %}
                {% if  request.user.role == 'admin' or request.user.role == 'dispatcher'%}
                    <a href="{% url "accounts:select_section" %}">Участок</a>
                {% endif %}
                {% if  request.user.role != 'viewer' %}
                    <a href="#">Машины</a>
                    <a href="#">Ремонты</a>
                    <a href="#">Документы</a>
                {% endif %}
                <form action="{% url "accounts:logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="nav-logout">Выход</button>  
                </form>
            </nav>
        </aside>
    {% endif %}

    <main class="content">

        {% if request.user.is_authenticated %}
        <!-- Шапка с пользователем — правый верхний угол -->
        <div class="topbar">
            <div class="topbar-user">
                <!-- get_full_name() из модели User — возвращает ФИО -->
                <span class="user-fullname">
                    {{ request.user.get_full_name }}
                </span>
                <!-- username в скобках серым -->
                <span class="user-username">
                    ({{ request.user.username }})
                </span>
                <!-- Участок если есть -->
                {% if request.user.section %}
                    <span class="user-section">
                        {{ request.user.section.name }}
                    </span>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </main>
</div>

</body>
</html>