{% extends 'base.html' %}
{% load static %}


{% block css %}

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

{% endblock css %}

{% block content %}


<div class="dashboard-wrap">

    <div class="dashboard-header">
        <h1>Диспетчерская панель</h1>
        <span id="ws-status" class="ws-badge connecting">Подключение...</span>
    </div>

    <table class="machine-table">
        <thead>
            <tr>
                <th>Машина</th>
                <th>Борт №</th>
                <th>КТГ</th>
                <th>Порог</th>
                <th>Статус</th>
                <th>Начало ремонта</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="machine-list">
            <tr><td colspan="7">Загрузка...</td></tr>
        </tbody>
    </table>

</div>



{{ request.user.role|json_script:"user-role"}}
<script>
    // Читаем роль из Django — json_script защищает от XSS
    const USER_ROLE = JSON.parse(document.getElementById('user-role').textContent);
</script>

<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}